body {
  margin: 0;
  font-family: "Comic Sans MS", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 36px 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: "Comic Sans MS";
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 15px 20px;
}

.headerimg {
  height: 100%;
  margin-right: 6px;
}

.headertitle {
 font-size: 3.25rem;
 margin-right: auto;
 background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}

.headerproject {
  font-size: 1.75rem;
  margin-right: auto;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  
}

.formbutton {
  font-size: 2rem;
  font-family: "Comic Sans MS", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  grid-column: 1 / -1;
  
  
}

.forminput {
  font-size: 1.75rem;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-family: "Comic Sans MS", sans-serif;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
text-indent: 5px;
}

.memeimage {
  max-width: 700px;
  display: flex;
  align-self: center;
}